.sectionNumbersContainer{
    display: flex;
    width: 100%;
    font-size: 25px;
    text-align: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.sectionNumbersChild{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionNumbersChild img{
    max-width: 93px;
    margin-bottom: 34px;
}
.numberTitle{
    font-size: 60px;
    font-weight: bold;
}

.numberSubtitle{
    width: 265px;
}

@media (max-width: 1300px) {

    .sectionNumbersContainer{
        display: flex;
        flex-direction: column;
    }

    .sectionNumbersChild{
        margin-bottom: 4rem;
    }
}