.twoElements {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 25px;
    margin-top: 3rem;
    justify-content: center;
}

.twoElementsChild {
    display: flex;
    align-items: center;
}

.elementImg {
    background-color: #A3FFDE;
    padding: 0.5rem;
    border-radius: 3px;
    margin-right: 0.7rem;
}

.alreadyBottomBtn {
    display: flex;
    margin-top: 5rem;
}

.alreadyBottomBtn button {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    background-color: #2AEAA5;
    width: 389px;
    height: 80px;
    border-radius: 100px;
}

#pointsBackground {
    background-image: url(../../../img/pointAqua.png);
    background-repeat: repeat;
}