.CarouselContainer {
    min-height: 45vh;
    display: flex;
    align-items: center;
    padding: 5rem 10rem;
    color: #000000;
    background-color: #F2F5FE;
}

.CarouselCard-Container {
    display: flex;
}

.Carousel-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    justify-content: center;
}

.CarouselCard-Container img {
    width: 80%;
}


.arrowStyles {
    position: absolute;
    z-index: 2;
    top: calc(85% - 15px);
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.ArrowLeft {
    left: 15%;
}

.ArrowRight {
    right: 15%;
}


@media (max-width: 1300px) {
    .CarouselCard-Container {
        flex-direction: column;
    }

    .CarouselContainer {
        justify-content: center;
    }
}