#pointer {
    border-top: 5px dotted #B9CCEF;
    width: 900px;
    height: 10px;
    position: absolute;
    top: 3050px;
    left: 20%;
}

.rowHow {
    display: flex;
    width: 85%;
    margin-top: 50px;
}

.rowHItem {
    display: flex;
    justify-content: center;
    width: 14.28%;
    padding: 1rem;
}

.sectionHowItem {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    align-items: center;
}

.rowLineItem {
    width: 100%;
    height: 50%;
    border-bottom: 5px dotted #B9CCEF;
}

.howContainer {
    display: flex;
    width: 100%;
    font-size: 25px;
    text-align: center;
}


@media (max-width: 768px) {
    .howContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}