.btnResourcesBlue {
    background-color: #0D66CE;
    color: #fff;
    width: 353px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
    margin-top: 87.8px;
}

#backgroundResources {
    background-image: url(../../../img/resources/christin-hume-Hcfwew744z4-unsplash.svg);
    background-position: 900px 120px;
    background-size: 37%;
    background-repeat: no-repeat;
    background-color: #F1F5FE;
}

.ArticleImg {
    width: 536px;
    height: 249px;
}

.ArticleName {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.ArticleDate {
    font-size: 18px;
}

.ImageArticleNull {
    width: 100%;
    height: 249px;
    background-color: #F1F5FE;
}

.titleArticle {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
}

.main-ContainerArticle {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #000000;
    font-size: 25px;
}

.ArticleContent {
    max-width: 1088px;
    margin-bottom: 200px;
}

.ArticleContent br {
    margin: 1rem;
}

.ArticleContent a {
    color: #3A72B3;
}

.ArticleContent ul {
    list-style-image: url('./components/articles/point.svg');
    margin-left: 3rem;
}

.ArticleContent li {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.centerImage {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 90px;
    align-items: center;
}


.entry-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 67.92px;
}

.articleTop {
    display: flex;
    justify-content: space-between;
}

.selectArticles {
    background-color: #F1F5FE;
    width: 398px;
    height: 63px;
    padding: 1rem;
    border-right: 1rem solid #F1F5FE;
}

@media (max-width: 1920px) {
    #backgroundResources {
        background-image: url(../../../img/resources/christin-hume-Hcfwew744z4-unsplash.svg);
        background-position: 1114px 220px;
        background-size: 37%;
        background-repeat: no-repeat;
        background-color: #F1F5FE;
    }

    .titleResponsive {
        width: 638px;
        font-size: 28px;
    }
}