#backgroundPay {
    background-image: url(../../img/services/payAdmin/Greensplash.svg) !important;
    background-position: 250% 70% !important;
    background-size: 100%;
    background-repeat: no-repeat !important;
    background-color: #F1F5FE;
    z-index: 2;
}

#backgroundPayImage{
    background-image: url(../../img/services/payAdmin/Greensplash.svg) !important;
    background-position: 100% 140% !important;
    background-size: 30%;
    background-repeat: no-repeat !important;
    background-color: #F1F5FE;
    z-index: 2;
}

#pointBackgroundLeftBottomGreen {
    background-image: url(../../img/services/payAdmin/Greensplash.svg);
    background-position: -170px -10%;
    background-repeat: no-repeat;
    background-size: 30%;
}

#pointBackgroundRightBottomGreen {
    background-image: url(../../img/services/payAdmin/Greensplash.svg);
    background-position: 95% 40%;
    background-repeat: no-repeat;
    background-size: 30%;
}

.cardEasy {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 20px #B9CCEF66;
    display: flex;
    justify-content: space-evenly;
}

.cardEasyChild {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    padding: 3rem;
}

.cardEasyChild img {
    max-height: 94px;
}

.titleCardEasy{
    font-size: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.splitBackground{
    background: linear-gradient(to bottom, #F1F5FE 0%, #F1F5FE 50%, #fff 50%, #fff 100%);
}

@media (min-width: 1920px) {
    #backgroundPay {
        background-image: url(../../img/services/payAdmin/Greensplash.svg);
        background-position: 1114px 0px !important;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #F1F5FE;
    }

    .titleResponsive {
        width: 638px;
        font-size: 28px;
    }

    #pointBackgroundLeftBottomGreen {
        background-image: url(../../img/services/payAdmin/Greensplash.svg);
        background-position: 3% 30%;
        background-repeat: no-repeat;
    }

    #pointBackgroundRightBottomGreen {
        background-image: url(../../img/services/payAdmin/Greensplash.svg);
        background-position: 90% 40%;
        background-repeat: no-repeat;
        background-size: 30%;
    }
}