#backgroundPay {
    background-image: url(../../img/services/payAdmin/Greensplash.svg);
    background-position: 900px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #F1F5FE;
    z-index: 2;
}

.cardEasy {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 20px #B9CCEF66;
    display: flex;
    justify-content: space-evenly;
}

.cardEasyChild {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    padding: 3rem;
}

.cardEasyChild img {
    max-height: 94px;
}

.titleCardEasy{
    font-size: 30px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.splitBackground{
    background: linear-gradient(to bottom, #F1F5FE 0%, #F1F5FE 50%, #fff 50%, #fff 100%);
}

@media (min-width: 1920px) {
    #backgroundPay {
        background-image: url(../../img/services/payAdmin/Greensplash.svg);
        background-position: 1114px 0px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #F1F5FE;
    }

    .titleResponsive {
        width: 638px;
        font-size: 28px;
    }
}