#aqua {
  border: 2px solid #2AEAA5;
  color: #2AEAA5;
}

.planCard:hover {
  box-shadow: 0px 3px 30px #B9CCEF;
  background-color: #fff;
  border: none;
}

.planCard:hover button {
  background-color: #2AEAA5;
  color: black !important;
  border: none;
}

.planCard {
  border: 2px solid #B9CCEF;
}

.planContainer {
  display: flex;
  padding-top: 40px;
  padding-bottom: 114px;
  flex-wrap: wrap;
  justify-content: center;
}

.planCardBlue:hover {
  box-shadow: 0px 3px 30px #B9CCEF;
  background-color: #fff;
  border: none;
}

.planCardBlue:hover button {
  background-color: #0D66CE;
  color: white !important;
  border: none;
}

.planCardBlue {
  border: 2px solid #B9CCEF;
}

.bottomServices {
  width: 100%;
  text-align: center;
  margin-top: 38px;
}

.colListPlans {
  display: flex;
  flex-wrap: wrap;
}

.itemListPlans {
  width: 390px;
  font-size: 24px;
  padding-right: 1rem;
  margin-right: 2rem;
}

.adminListPlans {
  margin-left: 6rem;
}

.adminListPlans p {
  font-size: 25px;
  margin-bottom: 1rem;
}


.adminListPlans li {
  font-size: 15px;
  margin: 0 !important;
  padding: 0 0 5px 1rem !important;
}


.triangle {
  display: flex;
  position: absolute;
  margin: 0rem;
  right: 9px;
  z-index: 2;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #FFC400 transparent transparent;
}

.triangle p {
  transform: rotate(45deg);
  display: flex;
  position: absolute;
  left: 0;
  text-align: center;
  margin: 0.5rem 2.5rem 1rem;
  font-weight: bold;
}

.containerCardT {
  position: relative;
}


.triangleSC {
  display: flex;
  position: absolute;
  margin: 0rem;
  right: 9px;
  z-index: 2;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #FFC400 transparent transparent;
}

.triangleSC p {
  transform: rotate(45deg);
  display: flex;
  position: absolute;
  left: 0;
  text-align: center;
  margin: 0.5rem 2.5rem 1rem;
  font-weight: bold;
}

@media (min-width: 1920px) {
  .triangle {
    right: 60px;
  }
}

@media (max-width: 1300px) {
  .triangle {
    right: 1px;
  }
}

/*
.triangle {
    right: 10px;
  }
*/