@import url("./css/control.css");

#backgroundServices {
    background-image: url(../../../img/resources/christin-hume-Hcfwew744z4-unsplash.svg);
    background-position: 600px -300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #F1F5FE;
}

#pointRightBottom {
    position: relative;
    top: -150px;
    left: -10%;
    width: 15%;
}


#pointLeft {
    position: relative;
    top: -150px;
    left: 85%;
    width: 15%;
}

.rowContable {
    display: flex;
    margin-bottom: 3rem;
}

.colContable {
    width: 390px;
    font-size: 24px;
    padding-right: 1rem;
}

.imgCol {
    width: 97px;
    height: 97px;
    display: flex;
    align-content: center;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

@media (min-width: 1920px) {
    #backgroundServices {
        background-image: url(../../../img/resources/christin-hume-Hcfwew744z4-unsplash.svg);
        background-position: 800px -300px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #F1F5FE;
    }

    .imgCol {
        margin-bottom: 50px;
    }
}

@media (max-width: 1300px) {
    #backgroundServices {
        background-image: url(../../../img/resources/christin-hume-Hcfwew744z4-unsplash.svg);
        background-position: 400px 600px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #F1F5FE;
    }

    .colContable {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}