.firstList ul {
    list-style-image: url(./point.svg);
    text-align: left;
}

.adminList ul {
    list-style-image: url(./check2.svg);
    text-align: left;
}

.adminList ul li {
    margin-bottom: 30px;
    padding-left: 22px;
}

.secondList ul {
    list-style-image: url(./arrow.svg);
    text-align: left;
}