.main-Container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: #000000;
}

.description-left {
  flex: 1;
  padding-right: 136px;
  z-index: 2;
}

.description-right {
  flex: 1;
  padding-left: 5rem;
  z-index: 2;
}

.bg-light-grey{
  background-color: #F1F5FE;
}

