.main-Container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 6rem;
  color: #000000;
}

.Principal-main-Container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 6rem;
  color: #000000;
}

.description-left {
  flex: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.description-right {
  flex: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bg-light-grey {
  background-color: #F1F5FE;
}

.whiteSpace {
   padding-top: 100px;
}

/* XL */
@media (min-width: 1920px) {
  .main-Container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 278px;
    color: #000000;
  }

  .Principal-main-Container {
    height: 1125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 228px 136px;
    color: #000000;
  }
  .whiteSpace {
    padding-top: 145px;
 }
}

/* M  */

@media (max-width: 1300px) {
  .main-Container {
    display: block;
    padding: 2rem 2rem;
    text-align: center;
    align-items: center;
  }

  .Principal-main-Container {
    min-height: 50vh;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 228px 136px;
    color: #000000;
  }

  .description-right{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .description-left{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center!important;
  }
  .whiteSpace {
    padding-top: 145px;
 }
}

/* S */