@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Asap', sans-serif;
}

.btn--primary {
  @apply text-base font-medium rounded-full p-3 bg-green ;
}

.btn--blue {
  @apply text-base font-medium rounded-full p-3 bg-blue;
  color:white;
}

.bg-light-grey{
  background-color: #F1F5FE;
}