#backgroundAbout {
    background-image: url(../../../img/company/christin-hume-Hcfwew744z4-unsplash-4.svg);
    background-position: 900px 120px;
    background-size: 45%;
    background-repeat: no-repeat;
    background-color: #F1F5FE;
}

#pointBackgroundLeftBottomBlue {
    background-image: url(../../../img/home/christin-hume-Hcfwew744z4-unsplash-2.svg);
    background-position: -170px -10%;
    background-repeat: no-repeat;
}

.imageValores{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1920px) {
    #backgroundAbout {
        background-image: url(../../../img/company/christin-hume-Hcfwew744z4-unsplash-4.svg);
        background-position: 1085px 225px;
        background-repeat: no-repeat;
        background-color: #F1F5FE;
    }
    .titleResponsive{
        font-size: 55px;
    }

    #pointBackgroundLeftBottomBlue {
        background-image: url(../../../img/home/christin-hume-Hcfwew744z4-unsplash-2.svg);
        background-position: 3% 30%;
        background-repeat: no-repeat;
    }
  }